# Dependências
node_modules/
package-lock.json
yarn.lock

# Vercel
.vercel

# Ambiente
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
.next/

# Temporários
*.tmp
.cache/